@import url(styleMobile.css);

body {
    padding: 0;
    border: 0;body {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: rgb(161, 207, 236);
}

/* #my{
    zoom: 110%;
} */

.bmw-logo {
    /* height: 10rem; */

    width: 60vw;
}

.parent1 {
    display: grid;
    height: 100vh;
    grid-template-rows: 0vh 41vh 41vh;
    grid-template-columns: 33vw 33vw 33vw;
}

@media screen and (max-width: 850px) {
    .parent1 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box
    }
    
}

#grid1-item1 {
    position: sticky;
    top: 0;
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: rgb(29, 142, 207);
}

header {
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }
}

nav a, button {
    margin-right: 3vw;
}

/* .intro {
    border-top: 10vh;
} */

#grid1-item2 {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
}

#grid1-item3 {
    grid-row: 2/3;
    grid-column: 3/4;
    /* padding-bottom: 10vh; */
    display: flex;
    justify-content: center;
}

#grid1-item4 {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.bmw-history {
    width: 50vh;
}

#grid1-item5 {
    grid-row: 3/4;
    grid-column: 2/4;
    text-align: center;
}

.parent2 {
    display: grid;
    height: 110vh;
    grid-template-rows: 33vh 35vh 35vh;
    grid-template-columns: 33vw 33vw 33vw;
}

@media screen and (max-width: 850px) {
    .parent2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box
    }
    
}

#grid2-item1 {
    grid-row: 1/3;
    grid-column: 1/2;
    text-align: center;
}

#grid2-item2 {
    grid-row: 1/3;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
}

#grid2-item3 {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.bmw-ceo {
   
    width: 28vw;
}

#grid2-item4 {
    grid-row: 3/4;
    grid-column: 2/4;
    text-align: center;
}

.video {
    height: 66vh;
    width: 55vw;
    border-radius: 15px;
}

@media screen and (max-width: 850px) {
    .video {
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box
    }
    
}
.parent3 {
    display: grid;
    height: 100vh;
    grid-template-rows: 40vh 10vh 50vh;
    grid-template-columns: 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw;
}

@media screen and (max-width: 850px) {
    .parent3 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box
    }
    
}
#grid3-item1 {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
}

#grid3-item2 {
    grid-row: 1/2;
    grid-column: 4/8;
    display: flex;
    justify-content: center;
}

.map {
    height: 38vh;
    width: 38vw;
    border-radius: 15px;
}

@media screen and (max-width: 850px) {
    .map {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box
    }
    
}

#grid3-item3 {
    grid-row: 2/3;
    grid-column: 1/8;
    text-align: center;
}

#grid3-item4 {
    grid-row: 3/4;
    grid-column: 1/3;
    text-align: center;

}

#grid3-item5 {
    grid-row: 3/4;
    grid-column: 3/5;
    text-align: center;
}

#grid3-item6 {
    grid-row: 3/4;
    grid-column: 5/8;
    text-align: center;
}

.types {
    width: 65%;
    height: 100%;
}

img {
    border-radius: 15px;
}

footer {
    /* text-decoration: none; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 136, 165);
    padding: 10px;
    
}



span {
    font-size: 1.2rem;
    font-weight: bold;
}
.code{
    text-align: center;
}

.code, pre{
    width: 100%;

}

pre, code{
    font-size: 1.2rem;
    width: 100%;
}

@media screen and (max-width: 464px) {
    pre, code{
        box-sizing: border-box;
    }

}

.dark-mode {
    background-color: black;
    color: white;
  }

button{
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(167, 255, 226);
}
    margin: 0;
    background-color: rgb(161, 207, 236);
}


.bmw-logo {
    /* height: 10rem; */
    height: 39vh;
    width: 23vw;
}

.parent1 {
    display: grid;
    height: 100vh;
    grid-template-rows: 0vh 41vh 41vh;
    grid-template-columns: 33vw 33vw 33vw;
}

@media screen and (max-width: 710px) {
    .parent1 {
        display: block;
    }
}

#grid1-item1 {
    position: sticky;
    top: 0;
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: rgb(29, 142, 207);
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 710px) {
    header {
        flex-direction: column;
    }
}

nav a {
    margin-right: 3vw;
}

/* .intro {
    border-top: 10vh;
} */

#grid1-item2 {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
}

#grid1-item3 {
    grid-row: 2/3;
    grid-column: 3/4;
    /* padding-bottom: 10vh; */
    display: flex;
    justify-content: center;
}

#grid1-item4 {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.bmw-history {
    width: 50vh;
}

#grid1-item5 {
    grid-row: 3/4;
    grid-column: 2/4;
    text-align: center;
}

.parent2 {
    display: grid;
    height: 110vh;
    grid-template-rows: 33vh 35vh 35vh;
    grid-template-columns: 33vw 33vw 33vw;
}

@media screen and (max-width: 710px) {
    .parent2 {
        display: block;
    }
}


#grid2-item1 {
    grid-row: 1/3;
    grid-column: 1/2;
    text-align: center;
}

#grid2-item2 {
    grid-row: 1/3;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
}

#grid2-item3 {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.bmw-ceo {
    height: 33vh;
    width: 24vw;
}

#grid2-item4 {
    grid-row: 3/4;
    grid-column: 2/4;
    text-align: center;
}

.video {
    height: 66vh;
    width: 55vw;
    border-radius: 15px;
}

.parent3 {
    display: grid;
    height: 100vh;
    grid-template-rows: 40vh 10vh 50vh;
    grid-template-columns: 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw 16.6vw;
}

@media screen and (max-width: 710px) {
    .parent3 {
        display: block;
    }
}


#grid3-item1 {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
}

#grid3-item2 {
    grid-row: 1/2;
    grid-column: 4/8;
    display: flex;
    justify-content: center;
}

.map {
    height: 38vh;
    width: 38vw;
    border-radius: 15px;
}

#grid3-item3 {
    grid-row: 2/3;
    grid-column: 1/8;
    text-align: center;
}

#grid3-item4 {
    grid-row: 3/4;
    grid-column: 1/3;
    text-align: center;

}

#grid3-item5 {
    grid-row: 3/4;
    grid-column: 3/5;
    text-align: center;
}

#grid3-item6 {
    grid-row: 3/4;
    grid-column: 5/8;
    text-align: center;
}

.types {
    width: 17vw;
    height: 40vh;
}

img {
    border-radius: 15px;
}

footer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 207, 236);
}

span {
    font-size: 1.5vw;
    font-weight: bold;
}

.ceo {
    font-size: 1.2vw;
    font-weight: bold;
}

p {
    font-size: 1.2vw;
}

a {
    font-size: 1.2vw;
}

h1 {
    font-size: 2.5vw;
}
